<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div th:if="${param.error}">
    	Invalid username or password.
    </div>
    <form action="/login" method="post" th:action="@{/login}">
    	<p>Username : <input type="text" name="username"></p>
    	<p>Password : <input type="password" name="password"></p>
    	<p><button type="submit">SiginUp</button></p>
    </form>
    <a href="/oauth2/authorization/google">구글 로그인</a>
    <a href="/oauth2/authorization/naver">네이버 로그인</a>
</body>
</html>